#console {
  margin: 0;
}
#console .messages {
  margin: 9px 0 16px;
}

input.form-text[disabled='disabled'] {
  background-color: #dddddd;
}

.modal-content .field-widget-options-buttons input {
  vertical-align: text-top;
}
.modal-content .field-widget-options-buttons .form-type-radio label {
  font-size: 1em;
  padding-left: 7px;
}

#modal-content .widget-preview .fieldset-wrapper {
  margin-top: 2.4em;
}

.modal-content .field-multiple-table {
  width: 100%;
}
.modal-content .field-multiple-table th label {
  padding-left: 8px;
  margin-bottom: 0;
}
.modal-content .field-multiple-table .form-submit {
  margin-top: 5px;
}

.page-node-add .form-type-radio input {
  float: left;
  margin-right: 5px;
  margin-top: 3px;
}

.page-node-add-gsb-person .field-name-field-first-name, .page-node-add-gsb-person .field-name-field-url {
  float: left;
  margin-right: 20px;
}
.page-node-add-gsb-person .field-name-field-company {
  clear: both;
}
.page-node-add-gsb-person .field-name-field-sunetid {
  float: left;
}

#modal-content .widget-preview .fieldset-wrapper .gsb-video-image a, #modal-content .widget-preview .fieldset-wrapper .video-play-icon {
  display: none;
}
#modal-content .widget-preview .media-youtube-preview-wrapper, #modal-content .widget-preview .media-youtube-outer-wrapper {
  width: 100% !important;
  height: auto !important;
  margin: 0;
}
#modal-content .widget-preview .rendered-video iframe {
  width: 100% !important;
  margin: 0;
}
#modal-content .widget-preview .spotlight-story {
  margin-left: 288px;
  clear: none;
}
#modal-content .widget-preview .spotlight {
  overflow: hidden;
}
#modal-content .widget-preview .spotlight a.show-more {
  margin-left: 18px;
}
#modal-content .widget-preview .spotlight-image {
  float: left;
}
#modal-content .widget-preview .twitter-feed {
  background: #c1dbd9;
}
#modal-content .widget-preview .twitter-feed-source:after {
  content: "Save and reload the page to see the tweets.";
  color: #202020;
  display: block;
  margin-top: 9px;
}
#modal-content .widget-preview .social-block-link {
  margin-top: 15px;
}
#modal-content .widget-preview .social-icon {
  display: none;
}

.media-widget .preview {
  float: left;
  margin-bottom: 13px;
}
.media-widget a {
  border: 1px solid #cccccc;
  margin-bottom: 0.5em;
  margin-right: 1em;
  font: bold 12px/32px "Open Sans", "Lucida Sans", "Lucida Grande", verdana, sans-serif;
  text-decoration: none;
  height: 33px;
  color: #666666;
  cursor: pointer;
  outline: none;
  -moz-border-radius: 3px;
  -khtml-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background: #fafafa;
  background-image: linear-gradient(to top, #e9eaec 0%, #fafafa 100%);
  background-image: -o-linear-gradient(bottom, #e9eaec 0%, #fafafa 100%);
  background-image: -moz-linear-gradient(bottom, #e9eaec 0%, #fafafa 100%);
  background-image: -webkit-linear-gradient(bottom, #e9eaec 0%, #fafafa 100%);
  background-image: -ms-linear-gradient(bottom, #e9eaec 0%, #fafafa 100%);
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #e9eaec), color-stop(1, #fafafa));
  -webkit-box-shadow: 0 3px 3px 0 #d2d2d2;
  -moz-box-shadow: 0 3px 3px 0 #d2d2d2;
  box-shadow: 0 3px 3px 0 #d2d2d2;
  padding: 0 13px 1px;
  display: block;
  float: left;
}

#media-browser-tabset .form-actions {
  padding-top: 25px;
}
#media-browser-tabset #branding h1 {
  height: auto;
}

#edit-upload-ajax-wrapper {
  float: left;
  margin-right: 15px;
}

.view-gsb-media-browser {
  clear: both;
}

#media-browser-tabset .form-item-embed-code {
  float: left;
  margin-right: 10px;
}
#media-browser-tabset ul.tabs.primary .ui-state-active a {
  background: white;
  cursor: default;
  color: black;
}
#media-browser-tabset ul.tabs.primary .ui-state-active a:hover {
  background: white;
  cursor: default;
  color: black;
}

.content > #gsb-media-center-add-image-upload, .content > #gsb-media-center-add-files-and-docs-upload, .content > #gsb-media-center-add-video-upload {
  padding-left: 15px;
}

.field-name-field-witl-archive label {
  font-weight: bold;
}

.node-msx_fellows-form #edit-field-year .fieldset-legend:after {
  content: "*";
  color: red;
}

.my-workbench {
  position: relative;
}
.my-workbench .create-menu-title {
  font-weight: bold;
  font-size: 16px;
  position: absolute;
  top: 0;
  left: 0;
}
.my-workbench .create-menu {
  float: left;
  width: 33%;
  padding: 0;
  margin: 28px 0 35px 0;
}
.my-workbench .create-menu li {
  width: 47%;
  margin-right: 2%;
}
.my-workbench .right h3 {
  margin-top: 0;
}

.page-admin-workbench .views-exposed-form .form-item {
  padding: 0;
}
.page-admin-workbench .views-exposed-form .description {
  margin: 0;
}
.page-admin-workbench .views-exposed-form .views-exposed-widget, .page-admin-workbench .views-exposed-form .bef-secondary-options .form-item {
  padding-right: 20px;
}
.page-admin-workbench .views-exposed-form .form-item-title .form-text, .page-admin-workbench .views-exposed-form .form-item-name .form-text {
  width: 300px;
}
.page-admin-workbench .views-exposed-form .form-item-alias .form-text {
  width: 160px;
}
.page-admin-workbench .views-exposed-form .form-item-nid .form-text {
  width: 80px;
}
.page-admin-workbench .views-exposed-form .form-item-access-id .form-select, .page-admin-workbench .views-exposed-form .form-item-type .form-select {
  width: 110px;
}
.page-admin-workbench .views-exposed-form .form-item-published .form-select {
  width: 62px;
}
.page-admin-workbench .views-exposed-form .views-widget-filter-secondary {
  clear: both;
  width: 100%;
  padding-top: 0;
}
.page-admin-workbench .views-exposed-form .form-wrapper {
  border: none;
  margin: 0;
  padding-top: 18px;
}
.page-admin-workbench .views-exposed-form .fieldset-wrapper {
  padding: 0;
}
.page-admin-workbench .views-exposed-form .form-wrapper .fieldset-legend {
  margin: 0;
  line-height: normal;
  padding-left: 10px;
  background-position: 0 50%;
}
.page-admin-workbench .views-exposed-form .fieldset-title {
  font-size: 12px;
  font-weight: normal;
  text-transform: none;
}
.page-admin-workbench .views-exposed-form .bef-secondary-options .form-item, .page-admin-workbench .views-exposed-form #edit-date-filter-min-wrapper, .page-admin-workbench .views-exposed-form #edit-date-filter-max-wrapper {
  float: left;
}
.page-admin-workbench .views-exposed-form .form-item-uid-revision .form-text {
  width: 266px;
}
.page-admin-workbench .views-exposed-form .form-type-date-popup {
  margin: 0;
}
.page-admin-workbench .views-exposed-form .form-type-date-popup .form-item {
  padding: 0;
}
.page-admin-workbench .views-exposed-form #edit-date-filter-min-wrapper .form-text, .page-admin-workbench .views-exposed-form #edit-date-filter-max-wrapper .form-text {
  width: 104px;
  margin: 0;
}
.page-admin-workbench .views-exposed-form .views-submit-button {
  clear: both;
  padding: 7px 0 42px 0;
}
.page-admin-workbench .views-exposed-form .views-submit-button .form-submit {
  margin: 0;
}

.panels-dnd .front-slider-pane, .panels-dnd .main-wrapper {
  width: 66.666%;
}
.panels-dnd .column.first, .panels-dnd .column.second, .panels-dnd .column.third {
  float: left;
}
.panels-dnd .front-sidebar-pane, .panels-dnd .front-slider-pane, .panels-dnd .main-wrapper {
  float: left;
}
.panels-dnd .main-middle .column-first, .panels-dnd .main-middle .column-second {
  float: left;
}
.panels-dnd .inner-sidebar-wrapper {
  float: left;
}
.panels-dnd .main-middle .column-first, .panels-dnd .main-middle .column-second {
  width: 50%;
}
.panels-dnd .front-sidebar-pane, .panels-dnd .inner-sidebar-wrapper {
  width: 33.333%;
}
.panels-dnd .column.first, .panels-dnd .column.second, .panels-dnd .column.third {
  float: left;
  width: 33.333%;
}
.panels-dnd .front-panel-feature-one, .panels-dnd .front-panel-feature-two, .panels-dnd .front-panel-feature-three {
  float: left;
  width: 33.333%;
}

#panels-panel-context-edit-content .form-actions {
  clear: left;
  margin-top: 0;
}

#panels-dnd-main .panel-region {
  margin-bottom: 15px;
}
#panels-dnd-main .inner-content-wrapper .main-wrapper, #panels-dnd-main .inner-content-wrapper .column-first {
  padding-right: 15px;
  box-sizing: border-box;
}
#panels-dnd-main .main-footer {
  clear: left;
}

body.cke_show_borders table td {
  border: 1px solid #cccccc;
  padding: 1px 2px;
}

.form-wrapper {
  margin-bottom: 1em;
}

form .field-multiple-table th.field-label {
  padding-left: 10px;
}

.node-type-publication #node_publication_form_group_publication_date .field-name-field-year-of-publication {
  margin-bottom: 0;
}
.node-type-publication #node_publication_form_group_publication_date .field-name-field-year-of-publication fieldset {
  border: 0;
  margin-bottom: 0;
}
.node-type-publication #node_publication_form_group_publication_date .field-name-field-year-of-publication .fieldset-legend {
  text-transform: capitalize;
  margin-bottom: 0;
  padding: 0;
}
.node-type-publication #node_publication_form_group_publication_date .field-name-field-year-of-publication .fieldset-wrapper, .node-type-publication #node_publication_form_group_publication_date .field-name-field-year-of-publication .date-padding {
  margin-bottom: 0;
  padding: 0;
}

.page-node-edit.node-type-faculty div.ctools-modal-content .form-item label,
.page-node-add-faculty div.ctools-modal-content .form-item label {
  float: none;
  width: auto;
}
.page-node-edit.node-type-faculty div.ctools-modal-content .resizable-textarea,
.page-node-add-faculty div.ctools-modal-content .resizable-textarea {
  margin-left: 0;
}
.page-node-edit.node-type-faculty div.ctools-modal-content #node_publication_form_group_publication_date .fieldset-legend,
.page-node-add-faculty div.ctools-modal-content #node_publication_form_group_publication_date .fieldset-legend {
  margin-top: 0;
  padding-left: 0;
}
.page-node-edit.node-type-faculty #modalBackdrop,
.page-node-add-faculty #modalBackdrop {
  background-color: black !important;
}
.page-node-edit.node-type-faculty .form-item,
.page-node-add-faculty .form-item {
  margin: 0;
  padding: 0;
}
.page-node-edit.node-type-faculty .form-item .form-type-radio,
.page-node-add-faculty .form-item .form-type-radio {
  margin: 3px 0;
}
.page-node-edit.node-type-faculty .view-display-id-eva_field_form .view-header,
.page-node-add-faculty .view-display-id-eva_field_form .view-header {
  margin-bottom: 20px;
}
.page-node-edit.node-type-faculty .view-display-id-eva_field_form .view-header a,
.page-node-add-faculty .view-display-id-eva_field_form .view-header a {
  background: #ededed;
  border: 1px solid #e4e4e4;
  border-bottom: 1px solid #b4b4b4;
  border-left-color: #d2d2d2;
  border-right-color: #d2d2d2;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  color: #5a5a5a;
  cursor: pointer;
  display: inline-block;
  font-weight: normal;
  font-size: 1.077em;
  padding: 6px 10px;
  text-align: center;
  text-decoration: none;
}
.page-node-edit.node-type-faculty .view-display-id-eva_field_form .view-header a:active,
.page-node-add-faculty .view-display-id-eva_field_form .view-header a:active {
  background: #666666;
  color: white;
  border-color: #555555;
  text-shadow: #222222 0 -1px 0;
}
.page-node-edit.node-type-faculty .modal-content .form-item-title input,
.page-node-add-faculty .modal-content .form-item-title input {
  font-size: 11px !important;
}
.page-node-edit.node-type-faculty .modal-content fieldset,
.page-node-edit.node-type-faculty .modal-content .field-multiple-table,
.page-node-edit.node-type-faculty .modal-content .tabledrag-toggle-weight-wrapper,
.page-node-add-faculty .modal-content fieldset,
.page-node-add-faculty .modal-content .field-multiple-table,
.page-node-add-faculty .modal-content .tabledrag-toggle-weight-wrapper {
  max-width: 727px;
}
.page-node-edit.node-type-faculty .modal-content .field-name-field-research-databases,
.page-node-add-faculty .modal-content .field-name-field-research-databases {
  margin-top: 1em;
}
.page-node-edit.node-type-faculty .field-name-field-salutation,
.page-node-edit.node-type-faculty .field-name-field-first-name,
.page-node-edit.node-type-faculty .field-name-field-middle-name,
.page-node-edit.node-type-faculty .field-name-field-last-name,
.page-node-edit.node-type-faculty .field-name-field-suffix-name,
.page-node-edit.node-type-faculty .field-name-field-role,
.page-node-edit.node-type-faculty .field-name-field-years,
.page-node-add-faculty .field-name-field-salutation,
.page-node-add-faculty .field-name-field-first-name,
.page-node-add-faculty .field-name-field-middle-name,
.page-node-add-faculty .field-name-field-last-name,
.page-node-add-faculty .field-name-field-suffix-name,
.page-node-add-faculty .field-name-field-role,
.page-node-add-faculty .field-name-field-years {
  display: inline-block;
  vertical-align: top;
  margin-right: 12px;
}
.page-node-edit.node-type-faculty .field-name-field-middle-name .description,
.page-node-add-faculty .field-name-field-middle-name .description {
  max-width: 327px;
}
.page-node-edit.node-type-faculty input[value="Remove affiliation"],
.page-node-add-faculty input[value="Remove affiliation"] {
  display: block;
}
.page-node-edit.node-type-faculty .node-media_item-form .form-item-title,
.page-node-add-faculty .node-media_item-form .form-item-title {
  margin-bottom: 1em;
}

.field-name-field-authors .form-submit {
  display: block;
}

#faculty-node-form ul.horizontal-tabs-list {
  background-color: #f2f2f2;
}
#faculty-node-form ul.horizontal-tabs-list li a {
  display: block;
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
}
#faculty-node-form ul.horizontal-tabs-list li a:hover {
  background: #d5d5d5;
}
#faculty-node-form ul.horizontal-tabs-list li:hover {
  background: #d5d5d5;
}
#faculty-node-form ul.horizontal-tabs-list li.selected {
  background: white;
  position: relative;
  z-index: 1;
}
#faculty-node-form ul.horizontal-tabs-list li.selected a:hover {
  background: white;
}
#faculty-node-form ul.horizontal-tabs-list li.selected a {
  color: #222222;
}

.group-publication-date h3,
.group-posted-date h3 {
  font-size: 14px;
}
.group-publication-date .form-item,
.group-posted-date .form-item {
  padding-top: 0;
}
.group-publication-date .field-name-field-month,
.group-publication-date .field-name-field-pub-date-day,
.group-publication-date .field-name-field-year-of-publication,
.group-posted-date .field-name-field-month,
.group-posted-date .field-name-field-pub-date-day,
.group-posted-date .field-name-field-year-of-publication {
  display: inline-block;
  margin-right: 12px;
  vertical-align: top;
}
.group-publication-date .field-name-field-year-of-publication fieldset,
.group-posted-date .field-name-field-year-of-publication fieldset {
  border: 0;
  padding: 0;
  margin: 0;
}
.group-publication-date .field-name-field-year-of-publication fieldset legend,
.group-posted-date .field-name-field-year-of-publication fieldset legend {
  margin-bottom: 2px;
}
.group-publication-date .field-name-field-year-of-publication fieldset .fieldset-legend,
.group-posted-date .field-name-field-year-of-publication fieldset .fieldset-legend {
  margin: 0;
  padding: 0;
  position: relative;
  text-transform: none;
}
.group-publication-date .field-name-field-year-of-publication fieldset .fieldset-wrapper,
.group-posted-date .field-name-field-year-of-publication fieldset .fieldset-wrapper {
  padding: 0;
}
.group-publication-date .field-name-field-year-of-publication .container-inline-date .date-padding,
.group-posted-date .field-name-field-year-of-publication .container-inline-date .date-padding {
  float: none;
  padding: 0;
}
.group-publication-date .field-name-field-year-of-publication .container-inline-date > .form-item,
.group-posted-date .field-name-field-year-of-publication .container-inline-date > .form-item {
  margin: 0;
}

body.role-faculty .tabledrag-toggle-weight-wrapper {
  visibility: hidden;
}

input[value="Save & Publish"],
#modal-content input[value="Save & Publish"] {
  background: #0074bd;
  border-color: #607c8c;
  color: white;
}
input[value="Save & Publish"]:hover,
#modal-content input[value="Save & Publish"]:hover {
  background: #0074bd;
  border-color: #607c8c;
  color: white;
}

.page-node-add-book input[value="Upload"],
.page-node-add-case input[value="Upload"],
.page-node-add-faculty input[value="Upload"],
.page-node-add-publication input[value="Upload"],
.page-node-add-working-paper input[value="Upload"] {
  display: none;
}

.page-node-edit.node-type-book input[value="Upload"], .page-node-edit.node-type-case input[value="Upload"], .page-node-edit.node-type-faculty input[value="Upload"], .page-node-edit.node-type-publication input[value="Upload"], .page-node-edit.node-type-working-paper input[value="Upload"] {
  display: none;
}

.field-name-field-place-of-publication,
.field-name-field-publisher,
.field-name-field-volume-number,
.field-name-field-issue-number,
.field-name-field-page-count,
.group-pub-link-pdf .fieldset-wrapper > div {
  display: inline-block;
  margin-right: 12px;
  vertical-align: top;
}

.field-name-field-place-of-publication .description {
  max-width: 327px;
}

#node_publication_form_group_pub_link_pdf .fieldset-description {
  display: block;
}

.gsb-cmis-current-doc:after {
  content: url('../images/arrow-external.svg');
  display: inline-block;
  margin-left: 3px;
}
