// Previous editor styles

input.form-text[disabled='disabled']
  background-color: #dddddd

// ctools
.modal-content .field-widget-options-buttons
  input
    float: left
  .form-type-radio label
    clear: none
    padding-left: 20px

#modal-content
  .form-actions input
    margin: 10px 0 0 10px
  .fieldset-wrapper
    padding-top: 3px
  fieldset legend
    height: 1.5em
    line-height: 1.1em
  .fieldset-wrapper
    margin-top: 1.2em

.modal-content .field-multiple-table
  width: 100%
  th label
    padding-left: 8px
    margin-bottom: 0
  .form-submit
    margin-top: 5px

#modal-content .widget-preview .fieldset-wrapper
  margin-top: 2.4em

// node add
.page-node-add .form-type-radio input
  float: left
  margin-right: 5px
  margin-top: 3px

.page-node-add-gsb-person
  .field-name-field-first-name, .field-name-field-url
    float: left
    margin-right: 20px
  .field-name-field-company
    clear: both
  .field-name-field-sunetid
    float: left

// video
#modal-content .widget-preview
  .fieldset-wrapper
    .gsb-video-image a, .video-play-icon
      display: none
  .media-youtube-preview-wrapper, .media-youtube-outer-wrapper
    width: 100% !important
    height: auto !important
    margin: 0
  .rendered-video iframe
    width: 100% !important
    margin: 0
  .spotlight-story
    margin-left: 288px
    clear: none
  .spotlight
    overflow: hidden
    a.show-more
      margin-left: 18px
  .spotlight-image
    float: left
  .twitter-feed
    background: #c1dbd9
  .twitter-feed-source:after
    content: "Save and reload the page to see the tweets."
    color: #202020
    display: block
    margin-top: 9px
  .social-block-link
    margin-top: 15px
  .social-icon
    display: none

// media widget
.media-widget
  .preview
    float: left
    margin-bottom: 13px
  a
    border: 1px solid #cccccc
    margin-bottom: .5em
    margin-right: 1em
    font: bold 12px/32px "Open Sans", "Lucida Sans", "Lucida Grande", verdana, sans-serif
    text-decoration: none
    height: 33px
    color: #666666
    cursor: pointer
    outline: none
    -moz-border-radius: 3px
    -khtml-border-radius: 3px
    -webkit-border-radius: 3px
    border-radius: 3px
    background: #fafafa
    background-image: linear-gradient(bottom, #e9eaec 0%, #fafafa 100%)
    background-image: -o-linear-gradient(bottom, #e9eaec 0%, #fafafa 100%)
    background-image: -moz-linear-gradient(bottom, #e9eaec 0%, #fafafa 100%)
    background-image: -webkit-linear-gradient(bottom, #e9eaec 0%, #fafafa 100%)
    background-image: -ms-linear-gradient(bottom, #e9eaec 0%, #fafafa 100%)
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #e9eaec), color-stop(1, #fafafa))
    -webkit-box-shadow: 0 3px 3px 0 #d2d2d2
    -moz-box-shadow: 0 3px 3px 0 #d2d2d2
    box-shadow: 0 3px 3px 0 #d2d2d2
    padding: 0 13px 1px
    display: block
    float: left

#media-browser-tabset
  .form-actions
    padding-top: 25px
  #branding h1
    height: auto

#edit-upload-ajax-wrapper
  float: left
  margin-right: 15px

.view-gsb-media-browser
  clear: both

#media-browser-tabset
  .form-item-embed-code
    float: left
    margin-right: 10px
  ul.tabs.primary .ui-state-active a
    background: #ffffff
    cursor: default
    color: #000000
    &:hover
      background: #ffffff
      cursor: default
      color: #000000

.content >
  #gsb-media-center-add-image-upload, #gsb-media-center-add-files-and-docs-upload, #gsb-media-center-add-video-upload
    padding-left: 15px

.field-name-field-witl-archive label
  font-weight: bold

.node-msx_fellows-form #edit-field-year .fieldset-legend:after
  content: "*"
  color: red

// workbench pages
.my-workbench
  position: relative
  .create-menu-title
    font-weight: bold
    font-size: 16px
    position: absolute
    top: 0
    left: 0
  .create-menu
    float: left
    width: 33%
    padding: 0
    margin: 28px 0 35px 0
    li
      width: 47%
      margin-right: 2%
  .right h3
    margin-top: 0

.page-admin-workbench .views-exposed-form
  .form-item
    padding: 0
  .description
    margin: 0
  .views-exposed-widget, .bef-secondary-options .form-item
    padding-right: 20px
  .form-item-title .form-text, .form-item-name .form-text
    width: 300px
  .form-item-alias .form-text
    width: 160px
  .form-item-nid .form-text
    width: 80px
  .form-item-access-id .form-select, .form-item-type .form-select
    width: 110px
  .form-item-published .form-select
    width: 62px
  .views-widget-filter-secondary
    clear: both
    width: 100%
    padding-top: 0
  .form-wrapper
    border: none
    margin: 0
    padding-top: 18px
  .fieldset-wrapper
    padding: 0
  .form-wrapper .fieldset-legend
    margin: 0
    line-height: normal
    padding-left: 10px
    background-position: 0 50%
  .fieldset-title
    font-size: 12px
    font-weight: normal
    text-transform: none
  .bef-secondary-options .form-item, #edit-date-filter-min-wrapper, #edit-date-filter-max-wrapper
    float: left
  .form-item-uid-revision .form-text
    width: 266px
  .form-type-date-popup
    margin: 0
    .form-item
      padding: 0
  #edit-date-filter-min-wrapper .form-text, #edit-date-filter-max-wrapper .form-text
    width: 104px
    margin: 0
  .views-submit-button
    clear: both
    padding: 7px 0 42px 0
    .form-submit
      margin: 0

// panelizer layout styles
.panels-dnd
  .front-slider-pane, .main-wrapper
    width: 66.666%
  .column
    &.first, &.second, &.third
      float: left
  .front-sidebar-pane, .front-slider-pane, .main-wrapper
    float: left
  .main-middle
    .column-first, .column-second
      float: left
  .inner-sidebar-wrapper
    float: left
  .main-middle
    .column-first, .column-second
      width: 50%
  .front-sidebar-pane, .inner-sidebar-wrapper
    width: 33.333%
  .column
    &.first, &.second, &.third
      float: left
      width: 33.333%
  .front-panel-feature-one, .front-panel-feature-two, .front-panel-feature-three
    float: left
    width: 33.333%

#panels-panel-context-edit-content .form-actions
  clear: left
  margin-top: 0

#panels-dnd-main
  .panel-region
    margin-bottom: 15px
  .inner-content-wrapper
    .main-wrapper, .column-first
      padding-right: 15px
      box-sizing: border-box
  .main-footer
    clear: left

// styles for the wysiwyg body
body.cke_show_borders table td
  border: 1px solid #cccccc
  padding: 1px 2px

// Form items need bottom spacing
.form-wrapper
  margin-bottom: 1em

form .field-multiple-table th.field-label
  padding-left: 10px

// Publication CT
.node-type-publication #node_publication_form_group_publication_date .field-name-field-year-of-publication
  margin-bottom: 0
  fieldset
    border: 0
    margin-bottom: 0
  .fieldset-legend
    text-transform: capitalize
    margin-bottom: 0
    padding: 0
  .fieldset-wrapper, .date-padding
    margin-bottom: 0
    padding: 0

////////////////////
// Faculty changes
////////////////////

// Remove ctools float in modal on fields
.page-node-edit.node-type-faculty div.ctools-modal-content
  .form-item label
    float: none
    width: auto
  .resizable-textarea
    margin-left: 0
  #node_publication_form_group_publication_date .fieldset-legend
    margin-top: 0
    padding-left: 0

.page-node-edit.node-type-faculty
  // Modal color
  #modalBackdrop
    background-color: #000 !important
  // Reduce spacing between fields
  .form-item
    margin: 0
    padding: 0

  // Create new links
  .view-display-id-eva_field_form .view-header
    margin-bottom: 20px
    // Copy button style
    a
      background: #ededed
      border: 1px solid #e4e4e4
      border-bottom: 1px solid #b4b4b4
      border-left-color: #d2d2d2
      border-right-color: #d2d2d2
      +border-radius(20px)
      color: #5a5a5a
      cursor: pointer
      display: inline-block
      font-weight: normal
      font-size: 1.077em
      padding: 6px 10px
      text-align: center
      text-decoration: none
      &:active
        background: #666
        color: #fff
        border-color: #555
        text-shadow: #222 0 -1px 0

  .modal-content
    // Reduce title font size
    .form-item-title input
      font-size: 11px !important
    // Reduce fieldset width
    fieldset,
    .field-multiple-table,
    .tabledrag-toggle-weight-wrapper
      max-width: 727px
    // Labels on background
    .fieldset-legend
      margin-top: 0 !important

  // Arrange name fields, affiliation fields
  .field-name-field-salutation,
  .field-name-field-first-name,
  .field-name-field-middle-name,
  .field-name-field-last-name,
  .field-name-field-suffix-name,
  .field-name-field-role,
  .field-name-field-years
    display: inline-block
    vertical-align: top
    margin-right: 12px
  .field-name-field-middle-name .description
    max-width: 327px

  // Greater Stanford University Affiliations submit button
  #field-greater-university-affil-values .form-submit
    display: block

// Restyle tabs
#faculty-node-form
  // Tabs list
  ul.horizontal-tabs-list
    background-color: #f2f2f2
    li
      a
        display: block
        padding: 0.5rem 1rem
        font-size: 0.9rem
        &:hover
          background: #d5d5d5
      &:hover
        background: #d5d5d5
      &.selected
        background: #ffffff
        position: relative
        z-index: 1
        a
          &:hover
            background: #ffffff
        a
          color: #222222
